.background_purple {
  height: 100vh;
  overflow: hidden;
}

.background_green {
  height: 150vh;
  width: 60vw;
  border-bottom-right-radius: cubic-bezier(0.5, 1.01, 0, 0.01);
  position: absolute;
  top: -10vw;
  left: -10vw;
  transform: rotate(-20deg);
}
.background_green:hover {
  height: 150vh;
  width: 65vw;
  border-bottom-right-radius: cubic-bezier(0.5, 1.01, 0, 0.01);
  position: absolute;
  top: -10vw;
  left: -10vw;
  transform: rotate(-20deg);
}
