.background_purple {
  height: 100vh;
  overflow: hidden;
}
.background_green {
  height: 200vh;
  width: 150vw;
  border-radius: 50%;
  border-bottom-right-radius: cubic-bezier(0.5, 1.01, 0, 0.01);
  position: absolute;
  top: -110vh;
  left: -80vw;
}
