.start_menu{
    height: 90vh;
    width: 99vw;
    background-color: white;
    position: absolute;
    top: 2%;
    left: 2%;
    border-radius: 25px;
    border: solid 2px #8242D2;
    animation: 0.6s cubic-bezier(.32,.86,.09,1.1) 0s 1 slide_left;
}

@keyframes slide_left{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide_top{
    0%{
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0%);
    }
}
.container{
    display: flex;
    top: 2%;
    left: 2%;
    height: 50%;
    position: absolute;
    width: 99vw;
    background-color: transparent ;

}

.logo_div{
    flex:2;
}

.Logo{
    width: 20vw;
    object-fit: contain;
    margin-top: 5vh;
    margin-left: 4vw;
    animation: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 slide_top;

}
.Logo:hover{
    cursor: pointer;
}

.separation{
    flex:3;
}
.container_buttons{
    position: absolute;
    top: 5%;
    right: 5%;
    display:flex;
    margin-right: 5%;
    animation: 0.8s cubic-bezier(.23,.55,.49,.83) 0s 1 slide_left;

}

.inicio_div{
    display: flex;
    justify-content: center;
    padding-right: 35px;
}

.inicio{
    color: black;
    font-size: 3vh;
    font-weight: normal;
    cursor: none;
    height: fit-content;
    padding-top: 35px;
}

.contact{
    color: #00C301;
    font-size: 3vh;
    font-weight: normal;
    cursor: none;
    height: fit-content;
    padding-top: 35px;
    font-weight: bold;
}

.inicio:hover{
    font-weight: bold;
    cursor: pointer ;
    border-bottom: solid 4px #00C301;;
    border-image: linear-gradient(to right, #00C301 20%,#ffffff 40%) 1;
}
.contact:hover{
    font-weight: bold;
    cursor: pointer ;
    border-bottom: solid 4px #8242D2;;
    border-image: linear-gradient(to right, #8242D2 20%,#ffffff 40%) 1;
}

.yogur_div{
    position: absolute;
    top: 20vh;
    right: 24vw;
}

.Yogur{
    width: 24vw;
    object-fit: contain;
    animation: 0.8s cubic-bezier(.23,.55,.49,.83) 0s 1 slide_left;
    /*  */
}
.coffee_div{
    position: absolute;
    top: 20vh;
    right: 11vw;
}

.coffee{
    width: 25vw;
    object-fit: contain;
    animation: 0.8s cubic-bezier(.23,.55,.49,.83) 0s 1 slide_left;
    min-width: 15vw;
}

.banner{
    position: absolute;
    bottom: 5vh;
    left: 10vw;
    height: 25vh;
    width: 10vw;
    background-color: #E5AAAA;
    border-radius: 18px;
    box-shadow: rgb(154, 12, 36) 0px 5px;
    transition: all 0.3s;
    justify-content: center;
    display: flex;

}
.banner2{
    position: absolute;
    bottom: 5vh;
    left: 25vw;
    height: 25vh;
    width: 10vw;
    background-color: #e7cb98;
    border-radius: 18px;
    box-shadow: #e3af4e 0px 5px;
    transition: all 0.3s;
    justify-content: center;
    display: flex;
}

.banner:hover{
    box-shadow: rgb(154, 12, 36) 0px 15px;
    height: 26vh;
    width: 10.5%;
    left: 9.75vw;
    bottom: 4.5vh;
    cursor: pointer;
}
.banner2:hover{
    box-shadow: #e3af4e 0px 15px;
    height: 26vh;
    width: 10.5%;
    left: 24.75vw;
    bottom: 4.5vh;
    cursor: pointer;
}



.banner_text {
    top: 40%;
    position: relative;
    text-align: center;
    font-size: 4vh;
    overflow: visible;
    transition: all 0.3s;
    height: fit-content;
}

.banner_text_hover {
    top: 40%;
    position: relative;
    text-align: center;
    display: block;
    font-size: 4.15vh;
    overflow: visible;
    transition: all 0.3s;


}
.yogur2{
    width: 10vw;
    object-fit: contain;
    min-width: 1vw;
    transition: width 0.3s;


}

.yogur2_hover{
    width: 10.75vw;
    object-fit: contain;
    min-width: 1vw;
    transition: width 0.3s;

}

.yogur2_div{
    position: absolute;
    display: flex;
    bottom: 17.5vh;
}

.bocata{
    width: 12vw;
    object-fit: contain;
    min-width: 1vw;
    transition: width 0.3s;
}

.bocata_hover{
    width: 12.75vw;
    object-fit: contain;
    min-width: 1vw;
    transition: width 0.3s;

}
.bocata_div{
    position: absolute;
    display: flex;
    bottom: 12.5vh;
}