#menu li {
  list-style-type: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: outside none none;
  padding-inline-start: 0;
  margin: 0;
}
.start_menu {
  height: 98vh;
  width: 100vw;
  /* background-color: rgb(255, 251, 251); */
  position: absolute;
  top: 1%;
  left: 1%;
  border-radius: 25px;
  /* border: solid 2px #8242d2; */
  animation: 0.6s cubic-bezier(0.32, 0.86, 0.09, 1.1) 0s 1 slide_left;
}

@keyframes slide_left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide_top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.container_logo {
  display: flex;
  top: 2%;
  left: 2%;
  height: 20%;
  width: 99vw;
  background-color: transparent;
  justify-content: center;
  flex:3;
  margin: 0px 50px;
}

.theme_button{
  position: absolute;
  top: 1vh;
  right: 2vw
}

.Logo {
  width: 25vw;
  object-fit: contain;
  animation: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 slide_top;
}
.Logo:hover {
  cursor: pointer;
}


.container_buttons {
  position: absolute;
  width: 100%;
  top: 0%;
  display: flex;
  animation: 0.8s cubic-bezier(0.23, 0.55, 0.49, 0.83) 0s 1 slide_left;
  justify-content: space-around;
  padding: 0 40px;
}

.inicio_div {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
}

.inicio {
  /* color: black; */
  /* font-size: 3vh; */
  font-weight: normal;
  cursor: none;
  height: fit-content;
  padding-top: 35px;
}

.contact {
  color: #00c301;
  /* font-size: 3vh; */
  font-weight: normal;
  cursor: none;
  height: fit-content;
  padding-top: 35px;
  font-weight: bold;
}

.inicio:hover {
  font-weight: bold;
  cursor: pointer;
  border-bottom: solid 4px #00c301;
  border-image: linear-gradient(to right, #00c301 20%, #ffffff 40%) 1;
}
.contact:hover {
  font-weight: bold;
  cursor: pointer;
  border-bottom: solid 4px #8242d2;
  border-image: linear-gradient(to right, #8242d2 20%, #ffffff 40%) 1;
}



.banner {
  position: absolute;
  top: 25vh;
  left: 0vw;
  height: 60vh;
  width: 40vw;
  /* background-color: #e7cb98; */
  /* box-shadow: #e3af4e 0px 5px; */
  transition: all 0.3s;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.banner2 {
  position: absolute;
  top: 25vh;
  right: 0vw;
  height: 60vh;
  width: 40vw;
  /* background-color: #e7cb98; */
  /* box-shadow: #e3af4e 0px 5px; */
  transition: all 0.3s;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.banner:hover {
  /* box-shadow: rgb(154, 12, 36) 0px 15px; */
  /* height: 26vh;
  width: 10.5%;
  left: 9.75vw;
  bottom: 4.5vh; */
  cursor: pointer;
}
.banner2:hover {
  /* box-shadow: #e3af4e 0px 15px; */
  /* height: 26vh;
  width: 10.5%;
  left: 24.75vw;
  bottom: 4.5vh; */
  cursor: pointer;
}

.banner_text {
  font-size: 0;
  top: 40%;
  text-align: center;
  overflow: visible;
  transition: all 0.3s;
  height: fit-content;
}

.banner_text_hover {
  top: 40%;
  text-align: center;
  display: block;
  font-size: 4.15vh;
  overflow: visible;
  transition: all 0.3s;
}
.yogur2 {
  width: 13vw;
  object-fit: contain;
  min-width: 1vw;
  transition: width 0.3s;
}

.yogur2_hover {
  width: 13.75vw;
  object-fit: contain;
  min-width: 1vw;
  transition: width 0.3s;
}

.yogur2_div {
  display: flex;
  bottom: 12.5vh;
  justify-content: center;
  flex:5;
}

.bocata {
  width: 22vw;
  object-fit: contain;
  min-width: 1vw;
  transition: width 0.3s;
}

.bocata_hover {
  width: 23vw;
  object-fit: contain;
  min-width: 1vw;
  transition: width 0.3s;
}
.bocata_div {
  display: flex;
  bottom: 12.5vh;
  justify-content: center;
  flex:5;
}

.background_purple {
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.background_purple_hover {
  height: 100vh;
  overflow: hidden;
}

.background_green {
  height: 150vh;
  width: 60vw;
  border-bottom-right-radius: cubic-bezier(0.5, 1.01, 0, 0.01);
  position: absolute;
  top: -10vw;
  left: -10vw;
  transition: width 0.3s;
  transform: rotate(-20deg);
}
.background_green_hover {
  height: 150vh;
  width: 65vw;
  border-bottom-right-radius: cubic-bezier(0.5, 1.01, 0, 0.01);
  position: absolute;
  top: -10vw;
  left: -10vw;
  transform: rotate(-20deg);
  transition: width 0.3s;
  cursor: pointer;
}
